<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"

	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        ">
	<bean name="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver"/>
		<property name="jdbcUrl" value="jdbc:mysql:///test"/>
		<property name="user" value="root"/>
		<property name="password" value="root"/>
		<property name="initialPoolSize" value="2"/>
		<property name="minPoolSize" value="2"/>
		<property name="maxPoolSize" value="10"/>
	</bean>
		<bean name="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
			<property name="dataSource" ref="dataSource"/>
			<property name="hibernateProperties">
				<value>
					hibernate.dialect = org.hibernate.dialect.MySQLDialect
					hibernate.show_sql = true
					hibernate.format_sql = true
					hibernate.hbm2ddl.auto = update
					hibernate.current_session_context_class = org.springframework.orm.hibernate4.SpringSessionContext
				</value>
			</property>
		</bean>
	<bean name="manager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="dataSource" ref="dataSource"/>
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
		<tx:annotation-driven transaction-manager="manager" proxy-target-class="true"/>

	<context:component-scan base-package="cn.web"/>
 </beans>